.po_app_container {
    border: 1px solid blueviolet;
    position: relative;
    padding: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.po_main_content_cont {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    flex-grow: 1;
    /* overflow-y: auto; */
}

#intro_text {
    position: relative;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.po_option_table_row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.po_option_table_row:not(:last-child) {
    margin-bottom: 10px;
}

.po_header_title_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.po_option_table_cell {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    align-items: center;
}

.po_table_option_input {
    width: 100%;
}


.po_option_table_cell:nth-child(even) {
    min-width: calc(100%/2.5);
}

.po_option_table_body {
    padding-top: 10px;
}

.po_option_index {
    position: absolute;
    left: 10px;
}

.po_tab_navigation_cont {
    display: flex;
    padding: 10px 0;
    /* justify-content: space-between; */
}

.po_tab_navigation {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    max-width: 90%;
    width: max-content;
    padding: 5px 0;
}

.po_tab_item {
    cursor: pointer;
    padding: 7px 10px;
    position: relative;
    width: max-content;
}

.po_tab_item>p {
    white-space: nowrap;
}

.po_tab_item::before {
    content: '';
    position: absolute;
    height: 3px;
    bottom: 0px;
    width: 0%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    background-color: var(--color-primary);
}

.po_tab_item.active::before {
    width: 60%;
    opacity: 1;
    transition: all 150ms ease-in;
}
.po_tab_item:hover::before{
    opacity: 1;
    width: 70%;
    transition: all 150ms ease-in;
}