.po_app_container {
    position: relative;
    padding: 10px;
    width: 500px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#product_type_menu_modal {
    flex-direction: column;
    align-items: flex-start;
}

.product_type_menu {
    all: unset;
    position: relative;
    width: 60%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--container-bkg-0);
    left: 0;
    padding: 10px;
    border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
}

.po_menu_tab_item::before {
    content: '';
    position: absolute;
    height: 0%;
    width: 3px;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-primary);
    border-radius: 10pc;
    transition: opacity 150ms ease-out;
}

.po_menu_tab_item.active::before {
    opacity: 1;
    height: 60%;
    transition: opacity 150ms ease-in;
}

.po_menu_tab_item.active:hover::before {
    opacity: 1;
    height: 70%;
    transition: opacity 150ms ease-in;
}


.po_menu_tab_item:hover {
    background-color: var(--container-bkg-1);
}


.po_menu_tab_item {
    padding: 0 5px 0 10px;
    position: relative;
    display: flex;
    border-radius: var(--border-radius-small);
    width: 100%;
    gap: 5px;
    justify-content: space-between;
}

.po_menu_tab_item:not(:last-child) {
    margin-bottom: 5px;
}

.po_menu_tab_item_name_cont {
    display: flex;
    align-items: center;
    max-width: 75%;
}

.po_menu_tab_item_btn {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 80%;
    z-index: 5;
    cursor: pointer;
}

.po_menu_tab_item_name {
    max-width: 100%;
    padding: 8px 10px;
}

.po_menu_tab_item_rename_input {
    display: none;
}

.po_menu_tab_item_action_group {
    display: flex;
    gap: 5px;
    align-items: center;
}

.po_main_content_cont {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    flex-grow: 1;
    max-height: 340px;
}

#intro_text {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#po_option_table {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 5px;
    margin-top: 5px;
}

.po_option_table_row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.po_option_table_row:not(:last-child) {
    margin-bottom: 10px;
}

.po_header_title_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.po_option_table_cell {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    align-items: center;
}

.po_table_option_input {
    width: 100%;
}

.table_header_cells:nth-child(2),
.option_name_cell{
    width: 100%;
    max-width:160px ;
}


.table_header_cells:nth-child(3),
.option_rename_cell{
    width:100% ;
    max-width:160px ;
}

.po_option_index {
    position: absolute;
    left: 10px;
}

.po_tab_navigation_cont {
    display: flex;
    padding: 10px 0;
    gap: 10px;
    align-items: center;
}

.po_tab_navigation {
    flex-grow: 1;
}

.po_tab_item {
    cursor: pointer;
    padding: 7px 10px;
    position: relative;
    width: max-content;
}

.po_tab_item>p {
    white-space: nowrap;
}

.po_tab_item::before {
    content: '';
    position: absolute;
    height: 3px;
    bottom: 0px;
    width: 0%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    background-color: var(--color-primary);
}

.po_tab_item.active::before {
    width: 60%;
    opacity: 1;
    transition: all 150ms ease-in;
}

.po_tab_item:hover::before {
    opacity: 1;
    width: 70%;
    transition: all 150ms ease-in;
}

.po_copy_output_container {
    padding-top: 7px;
}