/* icon filter link 
    - https://fonts.google.com/icons?selected=Material+Symbols+Rounded:add:FILL@0;wght@300;GRAD@200;opsz@20&icon.style=Rounded&icon.size=20&icon.color=%23e8eaed&icon.query=plus
*/

:root {
    --color-primary: #007bff;
    --color-primary-40: #006fe6;
    --color-secondary: #6c757d;
    --color-success: #28a745;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-info: #17a2b8;
    --color-light: #f8f9fa;
    --color-dark: #343a40;

    --container-bkg-0: hsl(0, 0%, 100%);
    --container-bkg-1: #f2f2f2;
    --container-bkg-2: hsl(0, 0%, 85%);
    --container-bkg-3: hsl(0, 0%, 75%);

    --modal-bkg: hsla(0, 0%, 75%, 0.50);
    --modal-bkg-blur: 5px;

    --border-radius-small: 0.25rem;
    --border-radius-medium: 0.5rem;
    --border-radius-large: 0.75rem;

    --padding-small: 0.25rem 0.5rem;
    --padding-medium: 0.5rem 1rem;
    --padding-large: 0.75rem 1.5rem;

    --font-size-title-large: 2rem;
    --font-size-title-medium: 1.75rem;
    --font-size-title-small: 1.5rem;
    --font-size-normal-large: 1.25rem;
    --font-size-normal-small: 0.875rem;
}

body {
    color: var(--color-dark);
    fill: var(--color-dark);
}

.p_l_20 {
    padding-left: 20px;
}

.p_l_25 {
    padding-left: 25px;

}


input,
button,
textarea {
    font-size: 12px;
    border: none;
    border-radius: var(--border-radius-small);
    outline: unset;
}

.btn {
    cursor: pointer;
    color: var(--color-light);
    background-color: var(--color-primary);
    padding: 8px 40px;
}

.btn:hover {
    background-color: var(--color-primary-40);
}

button.icon_button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
}

button.icon_button.sml {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
}

button.icon_button.sml svg {
    width: 12px;
    height: 12px;
}

.btn.subtle:hover,
.icon_button.sml.subtle:hover,
.icon_button.subtle:hover {
    background-color: var(--color-primary);
}

.btn.subtle:hover,
.icon_button.subtle:hover>svg {
    fill: var(--color-light);
    color: var(--color-light);
}

.icon_button.sml.danger:hover,
.icon_button.danger:hover {
    background-color: var(--color-danger);
}

.icon_button.danger:hover>svg {
    fill: var(--color-light);
}


input {
    background-color: var(--container-bkg-1);
    padding: 8px 10px;
}

input:focus-within {
    box-shadow: inset 0px 0px 0px 2px var(--color-primary);
}

.btn.subtle {
    color: var(--color-dark);
    background-color: var(--container-bkg-1);
}

.note {
    font-style: italic;
    font-size: smaller;
}

.txt_sml {
    font-size: 12px;
    font-weight: 400;
}

.txt_md {
    font-size: 14px;
    font-weight: 400;
}

.txt_lg {
    font-size: 16px;
    font-weight: 400;
}

.txt_sml.txt_sml_50 {
    color: var(--color-dark);
}

.title {
    font-weight: 500;
}

.title_sml {
    font-size: 16px;
}

.title_md {
    font-size: 18px;
}

.title_lg {
    font-size: 20px;
}

.hidden {
    opacity: 0;
    width: 0;
    position: absolute;
}

/* truncate single line text */
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.po_modal_cont {
    background-color: var(--modal-bkg);
    backdrop-filter: blur(var(--modal-bkg-blur));
    position: absolute;
    width: 100%;
    height: 100%;
    left: -20000px;
    top: -20000px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.po_modal_cont.active {
    left: 0;
    top: 0;
    z-index: 9;
    opacity: 1;
    transition: opacity 150ms ease-in;
}

.po_modal_inner {
    width: 80%;
    height: max-content;
    padding: 10px;
    background-color: var(--container-bkg-0);
    border-radius: var(--border-radius-medium);
}

.po_modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.po_form_group {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.po_form_group:not(:last-child) {
    margin-bottom: 10px;
}

.active_tooltip {
    anchor-name: --tooltip;
}

.tool_tip {
    content: attr(data-tooltip);
    position: absolute;
    position-anchor: --tooltip;
    position-try-fallbacks: --bottom;
    top: anchor(50%);
    right: anchor(left);
    transform: translate(0, -50%);
    margin: auto 7px;
    background-color: var(--container-bkg-1);
    color: var(--color-dark);
    padding: 3px 7px;
    font-size: small;
    border-radius: 4px;
    white-space: nowrap;
    transition: opacity 100ms ease-in;
    opacity: 1;
    z-index: 9;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.11);
}


@position-try --bottom {
    left: anchor(right);
    right: unset;
}

.scrollable::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.scrollable::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--container-bkg-1);
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: var(--container-bkg-2);
    border-radius: 10px;

}

.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
    cursor: w-resize;
}

#po_notification_popper {
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, -20px);
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 3px 7px;
    border-radius: var(--border-radius-small);
    max-width: 300px;
    opacity: 0;
    transition: transform 150ms ease-out, opacity 150ms ease-out;
}

#po_notification_popper.active {
    transform: translate(-50%, 0);
    opacity: 1;
    transition: transform 150ms ease-in, opacity 150ms ease-in;
}